USE [master]
GO
/****** Object:  Database [dbd1400311434846cc99b3a7bd012e1211]    Script Date: 8/1/2017 2:39:56 PM ******/
CREATE DATABASE [dbd1400311434846cc99b3a7bd012e1211] ON  PRIMARY 
( NAME = N'dbd1400311434846cc99b3a7bd012e1211', FILENAME = N'D:\mssqldata\dbd1400311434846cc99b3a7bd012e1211.mdf' , SIZE = 2304KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbd1400311434846cc99b3a7bd012e1211_log', FILENAME = N'E:\mssqllog\dbd1400311434846cc99b3a7bd012e1211_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbd1400311434846cc99b3a7bd012e1211].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbd1400311434846cc99b3a7bd012e1211]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 8/1/2017 2:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Keywords](
	[KeywordId] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [varchar](100) NOT NULL,
 CONSTRAINT [pk_keywords] PRIMARY KEY CLUSTERED 
(
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[motivation]    Script Date: 8/1/2017 2:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[motivation](
	[motivationCode] [int] IDENTITY(1,1) NOT NULL,
	[quote] [varchar](1000) NOT NULL,
	[quoteSource] [varchar](100) NOT NULL,
	[imageCode] [varchar](500) NOT NULL,
 CONSTRAINT [pk_motivation] PRIMARY KEY CLUSTERED 
(
	[motivationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Resource_Keyword]    Script Date: 8/1/2017 2:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource_Keyword](
	[ResourceId] [int] NOT NULL,
	[KeywordId] [int] NOT NULL,
 CONSTRAINT [pk_resourcekeyword] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resources]    Script Date: 8/1/2017 2:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[ResourceTitle] [varchar](100) NOT NULL,
	[ResourceContent] [varchar](max) NULL,
	[PathwayResource] [bit] NOT NULL,
 CONSTRAINT [pk_resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Resource_Keyword]  WITH CHECK ADD  CONSTRAINT [fk_resourcekeyword_keyword] FOREIGN KEY([KeywordId])
REFERENCES [dbo].[Keywords] ([KeywordId])
GO
ALTER TABLE [dbo].[Resource_Keyword] CHECK CONSTRAINT [fk_resourcekeyword_keyword]
GO
ALTER TABLE [dbo].[Resource_Keyword]  WITH CHECK ADD  CONSTRAINT [fk_resourcekeyword_resource] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[Resource_Keyword] CHECK CONSTRAINT [fk_resourcekeyword_resource]
GO
USE [master]
GO
