USE [dbd1400311434846cc99b3a7bd012e1211]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 8/3/2017 11:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Keywords](
	[KeywordId] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [varchar](100) NOT NULL,
 CONSTRAINT [pk_keywords] PRIMARY KEY CLUSTERED 
(
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[motivation]    Script Date: 8/3/2017 11:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[motivation](
	[motivationCode] [int] IDENTITY(1,1) NOT NULL,
	[quote] [varchar](1000) NOT NULL,
	[quoteSource] [varchar](100) NOT NULL,
	[imageCode] [varchar](500) NOT NULL,
 CONSTRAINT [pk_motivation] PRIMARY KEY CLUSTERED 
(
	[motivationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Resource_Keyword]    Script Date: 8/3/2017 11:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource_Keyword](
	[ResourceId] [int] NOT NULL,
	[KeywordId] [int] NOT NULL,
 CONSTRAINT [pk_resourcekeyword] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resources]    Script Date: 8/3/2017 11:32:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[ResourceTitle] [varchar](100) NOT NULL,
	[ResourceContent] [varchar](max) NULL,
	[PathwayResource] [bit] NOT NULL,
 CONSTRAINT [pk_resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Keywords] ON 

INSERT [dbo].[Keywords] ([KeywordId], [Keyword]) VALUES (1, N'class')
INSERT [dbo].[Keywords] ([KeywordId], [Keyword]) VALUES (2, N'classes')
INSERT [dbo].[Keywords] ([KeywordId], [Keyword]) VALUES (3, N'abstract')
GO
SET IDENTITY_INSERT [dbo].[Keywords] OFF
SET IDENTITY_INSERT [dbo].[motivation] ON 

INSERT [dbo].[motivation] ([motivationCode], [quote], [quoteSource], [imageCode]) VALUES (1, N'Leadership is not about a title or a designation. It is about impact, influence and inspiration. Impact involves getting results, influence is about spreading the passion you have for your work, and you have to inspire team-mates and customers.', N'Robin S. Sharma', N'https://pbs.twimg.com/profile_images/467208107865546752/SrBrE82K_400x400.jpeg')
INSERT [dbo].[motivation] ([motivationCode], [quote], [quoteSource], [imageCode]) VALUES (2, N'Inspiration is one thing and you cannot control it, but hard work is what keeps the ship moving. Good luck means, work hard. Keep up the good work.', N'Kevin Eubanks', N'http://www.bluenote.com/cdn/mceuploads/artists/kevin_eubanks_p.jpg')
INSERT [dbo].[motivation] ([motivationCode], [quote], [quoteSource], [imageCode]) VALUES (3, N'I no have education. I have inspiration. If I was educated, I would be a damn fool.', N'Bob Marely', N'https://v.cdn.vine.co/r/avatars/95538045131174948715346251776_1acd78c2a11.3.4.jpg?versionId=RO0agMbPKKLpAx_TzpUIo6ttlX44Ptfp')
SET IDENTITY_INSERT [dbo].[motivation] OFF
INSERT [dbo].[Resource_Keyword] ([ResourceId], [KeywordId]) VALUES (1, 26)
INSERT [dbo].[Resource_Keyword] ([ResourceId], [KeywordId]) VALUES (1, 27)
INSERT [dbo].[Resource_Keyword] ([ResourceId], [KeywordId]) VALUES (2, 26)
GO
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([ResourceId], [ResourceTitle], [ResourceContent], [PathwayResource]) VALUES (1, N'The Git Parable', N'http://tom.preston-werner.com/2009/05/19/the-git-parable.html', 0)
INSERT [dbo].[Resources] ([ResourceId], [ResourceTitle], [ResourceContent], [PathwayResource]) VALUES (2, N'Git Cheat Sheet', N'https://drive.google.com/drive/folders/0Bz4DHj0l-C66QjRfN05LWWZIRGs', 0)
INSERT [dbo].[Resources] ([ResourceId], [ResourceTitle], [ResourceContent], [PathwayResource]) VALUES (3, N'Navigating the shell', N'http://linuxcommand.org/lc3_lts0020.php', 0)
GO
SET IDENTITY_INSERT [dbo].[Resources] OFF
ALTER TABLE [dbo].[Resource_Keyword]  WITH CHECK ADD  CONSTRAINT [fk_resourcekeyword_keyword] FOREIGN KEY([KeywordId])
REFERENCES [dbo].[Keywords] ([KeywordId])
GO
ALTER TABLE [dbo].[Resource_Keyword] CHECK CONSTRAINT [fk_resourcekeyword_keyword]
GO
ALTER TABLE [dbo].[Resource_Keyword]  WITH CHECK ADD  CONSTRAINT [fk_resourcekeyword_resource] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[Resource_Keyword] CHECK CONSTRAINT [fk_resourcekeyword_resource]
GO
