@using teHelperResourceManager.Models;
@model ResourceKeywordViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        @if(TempData["NewKeyword_Success"] != null)
        {
            <p class="centered success-message">Keyword has been added!</p>
        }

        <h2>teHelper Existing Resources</h2>
    </div>

    <div class="col-md-6">
        <h3>Technical Resources</h3>
        <table class="table">
            <tr>
                <th>Technical Resource Name</th>
                <th>Keywords</th>
            </tr>

            @foreach (KeyValuePair<Resource, List<Keywords>> kvp in Model.ResourcesAndKeywords)
            {
                if (!kvp.Key.PathwayResource)
                {
                    <tr style="border: 1pt solid black;">
                        <td>@kvp.Key.ResourceTitle</td>
                        <td>@string.Join(", ", kvp.Value.Select(x => x.Keyword))</td>
                    </tr>
                }
            }

        </table>
    </div>

    <div class="col-md-6">
        <h3>Pathway Resources</h3>
        <table class="table">
            <tr>
                <th>Pathway Resource Name</th>
                <th>Keywords</th>
            </tr>

            @foreach (KeyValuePair<Resource, List<Keywords>> kvp in Model.ResourcesAndKeywords)
            {
                if (kvp.Key.PathwayResource)
                {
                    <tr style="border: 1pt solid black;">
                        <td>@kvp.Key.ResourceTitle</td>
                        <td>@string.Join(", ", kvp.Value.Select(x => x.Keyword))</td>
                    </tr>
                }
            }

        </table>
    </div>
</div>

